---

import BaseLayout from "../layouts/BaseLayout.astro";
import Publications from "../components/Publications.astro";

---


<BaseLayout>
    <h1 class="mb-10"> Publications </h1>

    <Publications />
</BaseLayout>
