---
import Separator from "./Separator.astro";
const { links } = Astro.props;

---

<div>
    <ul class="flex">
        {
            Object.values(links).map((link, i, arr) => (
                <li>
                    <a href={link.url} target="_blank">
                        {" "}
                        {link.showas}{" "}
                    </a>
                    {i !== arr.length - 1 && <Separator />}
                </li>
            ))
        }
    </ul>
</div>
